In [1]:
# Adina Nur Halimah Sanwani
# 2208541033
# [Perbaikan] Tugas 2

# 5.1 Print

Perintah untuk mencetak tulisan yang berada di dalam print(" ") atau print(''). Tidak terdapat perbedaan antara penggunaan (" ") atau (' ')

In [2]:
#mencetak perintah print dengan print(" ")
print("I don't like you!")

I don't like you!

In [3]:
#mencetak perintah print dengan print(' ')
print('Wake up little girl, time to school')

Wake up little girl, time to school

In [4]:
#ditunjukan penggunaan \n dalam print
print("Mr. Bean : Good morning all. \nStudents : Morning, Sir.")

#penggunaan \n berguna untuk membuat baris baru

Mr. Bean : Good morning all.
Students : Morning, Sir.

In [5]:
info1 = 'Adina'
info2 = ' Nur Halimah'
info3 = ' Sanwani' #dilarang menggunakan nama variabel yang sama, agar run yang dilakukan tidak menggunakan variabel terakhir
#misal info3 = 'adina', info3 = 'Adina', maka print yang akan terbaca adalah info3 = 'Adina'

#menggunakan + untuk mencetak gabungan dari ketiga variabel
print(info1 + info2 + info3)

Adina Nur Halimah Sanwani

# 5.2 Input

Input berfungsi jika kita ingin mendapatkan informasi dari pengguna. Sehingga pengguna dapat mengisi jawaban bebas pada kolom

In [6]:
#ditulis variabel inpu sebagai berikut :
mahasiswi = input("Berapakah jumlah mahasiswi wanita di prodi matematika? ")
mahasiswa = input("Berapakah jumlah mahasiswa pria di prodi matematika? ")
Total = int(mahasiswi) + int(mahasiswa) #menggunakan type data integer untuk mendapatkan hasil pertambahan dari variabel input
print("Total mahasiswa/i prodi matematika adalah " + str(Total) + " " + "orang") #penggunaan string pada Total berfungsi untuk menghasilkan total dari integer dan untuk digabungkan dengan teks

Berapakah jumlah mahasiswi wanita di prodi matematika? 77
Berapakah jumlah mahasiswa pria di prodi matematika? 90
Total mahasiswa/i prodi matematika adalah 167 orang

In [7]:
mahasiswi = int(input("Berapakah jumlah mahasiswi wanita di prodi matematika? "))
mahasiswa = int(input("Berapakah jumlah mahasiswa pria di prodi matematika? "))
print("Total mahasiswa/i prodi matematika adalah " + str(mahasiswi + mahasiswa) + " " + "orang")

#apabila tidak menggunakan variabel total,
#maka type data string digunakan untuk menjumlahkan hasil dari integer yang terdapat pada variabel

Berapakah jumlah mahasiswi wanita di prodi matematika? 87
Berapakah jumlah mahasiswa pria di prodi matematika? 800
Total mahasiswa/i prodi matematika adalah 887 orang

# 5.3 Tipe Data pada Python

In [8]:
# Terdapat 3 tipe data pada python.

# 1. Integer (Bilangan bulat) ditulis int
# 2. Float (Bilangan Real) ditulis float
# 3. String ditulis str 
# 4. Boolean (True or False) ditulis bool

In [9]:
#diberikan variabel sebagai berikut

a = 7
b = 11

#code akan menghasilkan type data boolean yaitu true or false
contoh1 = print (a > 5 and b < 12)

True

In [11]:
uang1 = input("Berapa pendapatan warung hari ini? ")
uang2 = input("Berapa pendapatan warung kemarin? ")
total = int(uang1) + int(uang2)
print("Total pendapat warung sekarang adalah Rp" + str(total))

Berapa pendapatan warung hari ini? 7000
Berapa pendapatan warung kemarin? 6000
Total pendapat warung sekarang adalah Rp13000

In [12]:
#mengetahui type data pada variabel
type(uang1)

str

In [13]:
#mengetahui type data pada variabel
type(total)

int

# 5.4 Formatted String

Fungsi formatted string adalah digunakan untuk menggabungkan nilai-nilai variabel ke dalam string dengan terstruktur dan untuk mempermudah penulisan nilai variabel yang ingin dicetak pada perintah print.

In [14]:
#akan dimasukan variabel sebagai berikut :
name  = 'Adina'
age  = '19'
fave  = 'BTS'

#pada code ini, ditunjukan mencetak dengan cara tanpa formatted string
print ('Halo! my name is ' + name + '! I am '  + age + ' years old. I love ' + fave + ' so much! Nice to meet you!')

Halo! my name is Adina! I am 19 years old. I love BTS so much! Nice to meet you!

In [15]:
#pada code ini, akan ditunjukan mencetak dengan formatted string

#code terlihat lebih simpel, karena penggunaan formatted string mempermudah penulisan nilai variabel
print(f"Halo! my name is {name}! I am {age} years old. I love {fave} so much! Nice to meet you!")
#penggunaan formatted string diawali dengan f, lalu penulisan variabel menggunakan kurung kurawal {}

Halo! my name is Adina! I am 19 years old. I love BTS so much! Nice to meet you!

In [16]:
#akan dimasukan variabel sebagai berikut :

x = 98796483
y = 84628021

#digunakan formatted string untuk melakukan operasi
#formatted string dapat menggunakan variabel baru seperti berikut :
result = f"The sum of {x} and {y} is {x + y}" #operasi matematika juga dapat dijalankan pada formatted string

#mencetak variabel result
print(result)

The sum of 98796483 and 84628021 is 183424504