In [ ]:
#Menggunakan tanda petik yang sama agar tidak error
print("I don't like you")

I don't like you

In [ ]:
#Penggunaan \n sama seperti di c++ yaitu untuk enter ke bawah/baris baru
print("I don't \n love you")

I don't
 love you

In [ ]:
print('Minum susu rasa semangka \n Dia ada yang punya aku mah apa')

Minum susu rasa semangka
 Dia ada yang punya aku mah apa

In [ ]:
#Terjadi error karena menggunakan dua tanda petik yang berbeda dimana petik pertama memakai ' dan petik kedua memakai "
print('Jungkook suka makan sate padang")

SyntaxError: ignored

In [ ]:
#Sifat nya serupa dengan string, apabila ingin mencari outputnya maka tinggal tulis " NIM " (tanpa tanda petik)
#Maka output ya keluar merupakan ekuivalen dari variabel tersebut
NIM = 2208541033

In [ ]:
NIM

2208541033

In [ ]:
#jangan menggunakan variabel yang sama, karena nanti yang di run itu variabel terakhir, contoh a = 2 (penghapus), a = 6 (buku),
#maka yang akan dibaca adalah a = 6 (buku)
Xi = 50
Fi = 5
print(Xi)
print(Fi)
print(Xi*Fi)
#jika ingin print variabel di atas, maka tidak perlu menggunakan tanda petik karena variabel sudah terbaca oleh komputer
# * (bintang) artinya perkalian
#apabila lebih dari satu kata, maka variabel menggunakan _ (underscore)

50
5
250

In [ ]:
nama = input("nama : ")
username = input("username : ")
password = input("password : ")
print("Hi,"+" "+ nama + "!")
#menggunakan input untuk menghasilkan code paramenter
#tanda seru ( ! ) menggunakan tanda petik agar terbaca oleh komputer, karena tanda seru tersebut tidak terdapat dalam variabel

nama : Adina
username : adinanhs
password : ******
Hi, Adina!

In [ ]:
mahasiswi = input("Berapakah jumlah mahasiswi wanita di prodi matematika? ")
mahasiswa = input("Berapakah jumlah mahasiswa pria di prodi matematika? ")
Total = int(mahasiswi) + int(mahasiswa)
print("Total mahasiswa/i prodi matematika adalah " + str(Total) + " " + "orang")
#menggunakan type data integer untuk mendapatkan hasil pertambahan dari variabel input
#lalu menggunakan string untuk menghasilkan total dari integer yang di input

Berapakah jumlah mahasiswi wanita di prodi matematika? 66
Berapakah jumlah mahasiswa pria di prodi matematika? 22
Total mahasiswa/i prodi matematika adalah 88 orang

In [ ]:
mahasiswi = int(input("Berapakah jumlah mahasiswi wanita di prodi matematika? "))
mahasiswa = int(input("Berapakah jumlah mahasiswa pria di prodi matematika? "))
print("Total mahasiswa/i prodi matematika adalah " + str(mahasiswi + mahasiswa) + " " + "orang")
#apabila tidak menggunakan variabel total,
#maka type data string digunakan untuk memasukkan hasil jumlah dari integer yang ada agar dapat terbaca pada print

Berapakah jumlah mahasiswi wanita di prodi matematika? 66
Berapakah jumlah mahasiswa pria di prodi matematika? 5
Total mahasiswa/i prodi matematika adalah 71 orang

In [ ]:

#type data boolean (true or false)
a = 7
b = 11
print(a > 5 and b < 12)
print ( b > 12)

True
False