Tugas III pada pertemuan Senin, 20 Maret 2023

# 5.5 String Index

In [1]:
A = 'Adina Pakai Provider Telkomsel'
print (A[4:])

#perhatikan posisi titik dua.
#code di atas akan menghasilkan output berurut mulai dari urutan ke-4 sampai urutan terakhir.
#urutan dimulai dari 0, 1, 2, 3, 4, ... sehingga output urutan ke-4 yang keluar adalah huruf 'a', bukan 'n'.

a Pakai Provider Telkomsel

In [2]:
print(A[3:9])

#sesuai syntax pada phyton dimana apabila index angka yang dimasukkan adalah angka 9, maka output yang keluar adalah urutan ke-8.
#sehingga code tersebut akan menghasilkan output urutan ke-3 sampai urutan ke-8.

na Pak

In [3]:
print(A[:-6])

#perhatikan posisi titik dua
#jika terdapat minus seperti ini, maka output yang akan dihasilkan adalah semua urutan dari urutan ke-0 sampai urutan ke-(-6)
#dimana arti -6 adalah bahwa 6 urutan dari belakang data string tidak dimasukkan ke dalam hasil output
#Mis : telkomsel, maka
#l = -1
#e = -2
#s = -3
#m = -4
#o = -5
#k = -6
#sehingga output yang diprint hanya Adina Pakai Provider Tel

Adina Pakai Provider Tel

In [4]:
print (A[:])

#code ini akan menghasilkan output variabel A. Dimana akan menghasilkan dari urutan ke-0 sampai urutan terakhir.

Adina Pakai Provider Telkomsel

In [5]:
print(A[6:-3])

#akan dihasilkan output dari urutan ke-5 sampai dengan urutan ke-(-3)
#dimana 3 huruf dari belakang data string tidak dimasukkan ke dalam hasil output

Pakai Provider Telkom

In [6]:
print(A[2:23:5])

#apabila terdapat 3 angka seperti diatas, maka 2 angka di depan berfungsi sebagai batas panjang urutan
#lalu angka yang paling belakang berfungsi sebagai loncat
#langkah awal adalah pengurutan urutan ke-2 sampai urutan ke-22, lalu loncat sebanyak 5 loncatan
#sehingga hasil akhirnya merupakan urutan-urutan antara 2 sampai 22 yang telah diloncat 5 loncatan

iaPde

In [7]:
print (A[-6:1])

#tidak menghasilkan urutan-urutan karakter (output kosong tetapi tidak error)
#dimana minus seharusnya berada di belakang titik dua apabila ingin mengurutkan dengan 2 angka dari positif ke negatif

In [8]:
print(A[-7:])

#perhatikan posisi titik dua
#apabila pengurutan minus dan titik dua di belakang angka minus, maka output yang akan dicetak adalah urutan-urutan dari belakang
#dimana urutan dari -1 sampai urutan -7

lkomsel

In [9]:
print(A[:5])

#perhatikan posisi titik dua
#apabila posisi titik dua di depan angka positif, maka output yang dihasilkan adalah urutan tanpa mulai dari urutan ke-0
#sehingga string index ini akan mengurut mulai dari urutan 1.
#A = 1
#d = 2
#i = 3
#n = 4
#a = 5
#hal tersebut juga mungkin bisa menjadi alasan mengapa string index 2 angka (mis: [3:9]), menyebabkan urutan yang keluar adalah urutan ke-8 (urutan mulai dari 0)
#karena urutan ke-9 dalam :9 akan menghasilkan urutan ke-9 dimana urutan dimulai dari 1

Adina

# 5.6 String Methods

In [10]:
B = "BTS Paved The Way"
print (len(B))

#berfungsi untuk mengetahui banyaknya jumlah karakter dalam variabel
#dimana huruf, spasi, angka, simbol yang di dalam variabel akan terhitung semua

17

In [11]:
print(B.upper())

#akan mencetak semua karakter dalam variabel dengan huruf kapital

BTS PAVED THE WAY

In [12]:
print(B.lower())

#akan mencetak semua karakter dalam variabel dengan huruf kecil

bts paved the way

In [13]:
B.find('The')

#berfungsi untuk menemukan letak karakter yang ingin dicari berada diurutan ke berapa
#karakter dihitung mulai dari urutan 0
#hitungan karakter yang dicari mulai dari urutan karakter pertama pada kata

10

In [14]:
B.find('bts')

#jika karakter yang dicari tidak dapat ditemukan, maka output akan menghasilkan -1

-1

In [15]:
B.replace('BTS', 'Adina')

#kata yang dipilih (ingin diubah) akan berganti menjadi kata baru

'Adina Paved The Way'

In [16]:
B.replace('bts', 'Adina')

#jika kata yang dipilih tidak sesuai dengan yang ada dalam variabel, maka tidak akan terjadi perubahan

'BTS Paved The Way'

In [17]:
print('BTS'in B)
print('bts'in B)

#akan terjadi tipe data boolean, dimana menghasilkan output True bila kata yang dicetak benar terdapat di dalam variabel
#dan akan menghasilkan output False bila kata yang dicetak tidak ada di dalam variabel

True
False

# 5.7 Operasi Matematika di Phyton

In [18]:
x = input("Masukkan nilai x : ")
y = input("Masukkan nilai y : ")

#operasi penjumlahan
print(int(x)+int(y))

#operasi pengurangan
print(int(x)-int(y))

#operasi perkalian
print(int(x)*int(y))

#operasi pembagian
print(int(x)/int(y))

#operasi pembulatan pembagian
print(int(x)//int(y))

#operasi modulo
print(int(x)%int(y))

#operasi pangkat
print(int(x)**int(y))

print (int(x)+int(y)*int(x)/int(y))

Masukkan nilai x : 7
Masukkan nilai y : 6
13
1
42
1.1666666666666667
1
1
117649
14.0

In [19]:
x = 6
y = 5

#akan dicetak x = x + 3 dan y = y + 3
x+=3
y+=3
print(x)
print(y)

x+=y
print(x)
#setelah variabel awal telah dicetak, print berikutnya akan menggunakan hasil variabel x dan y terbaru
#sehingga x+=y dimana x = x + y tidak akan menghasilkan 11, namun 17
#karena x telah menjadi 9, dan y telah menjadi 8

9
8
17

In [20]:
x = 6
y = 5

#akan dicetak x = x - 3 dan y = y -3
x-=3
y-=3
print(x)
print(y)

3
2

In [21]:
x = 6
y = 5

#akan dicetak x = x*3 dan y = y*3
x*=3
y*=3
print(x)
print(y)

18
15

# 5.8 Operator Perbandingan di Phyton

In [22]:
#operator perbandingan akan menghasilkan boolean
#output yang dicetak adalah True atau False

p = 6
q = 5

#sama dengan
a = p == 5
b = q == 5
print (a)
print (b)

#lebih besar
a = p > 3
b = q > 3
print (a)
print (b)

#kurang dari
a = p < 5
b = q < 5
print (a)
print (b)

#kurang dari sama dengan
a = p <= 5
b = q <= 5
print (a)
print (b)

#lebih besar sama dengan
a = p >= 5
b = q >= 5
print (a)
print (b)

#tidak sama dengan
a = p != 5
b = q != 5
print (a)
print (b)
#negasi menggunakan simbol ~ untuk menghasilkan -1 (True) atau -2 (False)
print (~a)

a = 3 < p < 4
print (a)
print (~a)
#negasi menggunakan simbol - untuk menghasilkan 0 (True) atau -1 (False) ---- asumsi
print(-a)

False
True
True
True
False
False
False
True
True
True
True
False
-2
False
-1
0

# 5.9 Operator Logika di Phyton

In [23]:
x = 3
y = 2
print(x>3 or y<=2)
print(not(x>3 or y<=2))
print(~(x>3 or y<=2))

#menghasilkan tipe data boolean, dimana operasi ini menggunakan logika matematika seperti dan, atau
#output pertama akan menghasilkan True karena dalam logika 'or' bila terdapat salah satu pernyataan yang benar, maka hasilnya adalah benar
#output kedua akan menghasilkan False karena merupakan negasi dari output pertama, dimana bila True maka negasinya False
#penggunaan not dalam negasi akan menghasilkan output boolean, berbeda dengan menggunakan simbol ~

True
False
-2

In [24]:
print (x>3 and y<=2)
print(not(x>3 and y<=2))
print(~(x>3 and y<=2))

#output pertama akan menghasilkan false karena apabila terdapat salah satu pernyataan salah dalam logika 'dan' maka hasil akan salah
#output kedua akan menghasilkan True karena merupakan negasi dari output pertama, dimana bila False maka negasinya True

False
True
-1

# 5.10 Operator if di Phyton

In [25]:
y = 1
x = 10

if x <= 10:
    y = x**2
    x = x + 1
    print (y)
    print (x)
    
#apabila sudah masuk ke dalam operator if, maka pencetakan yang terjadi adalah yang terbaru
#bila x variabel memenuhi x dalam if, maka y dapat dideklarasikan (dengan catatan y berubah menjadi variabel baru)
#dimana y = x**2, sehingga output yang dihasilkan adalah y dengan variabel di dalam if

#begitupula dengan x, jika x variabel memenuhi x dalam if, maka x dapat dideklarasikan
#sehingga output yang dihasilkan adalah x = x + 1

100
11

In [26]:
y = 1
x = 10

if x < 10:
    y = x**2
    x = x + 1
    print (y)
    print (x)
    
#hasil ini tidak memiliki output, karena x variabel tidak memenuhi x dalam operator if.

In [27]:
nilai=float(input("Nilai anda adalah : "))
if nilai >= 80:
    print ("OMG! What a nice result!")
if nilai >=55 and nilai <80:
    print ("Do better next time")
if nilai >=30 and nilai <55:
    print ("STUDY PLEASE!!!")

#akan menghasilkan code paramenter
#output yang dihasilkan sesuai dengan nilai yang kita input dalam paramenter
#apabila nilai yang diinput tidak terdapat dalam if, maka tidak akan menghasilkan print

Nilai anda adalah : 88
OMG! What a nice result!

In [28]:
nilai=float(input("Nilai anda adalah : "))
if nilai >=80:
    print ("YEAHHHH YOU GOOD!")
if nilai >= 55:
        print ("Nice try")
        
#code akan menghasilkan output, namun apabila perintah tidak jelas maka print akan tercetak semua
#misal bila input nilai diatas 80, maka akan mencetak kata untuk >=80 dan kata untuk >= 55
#sehingga bila menggunakan if lebih baik menulis perintah dengan jelas

Nilai anda adalah : 88
YEAHHHH YOU GOOD!
Nice try

In [29]:
tinggi = float(input("Tinggi anda adalah : "))
if tinggi >= 180:
    print("Kamu memiliki kesempatan menjadi model")
elif tinggi >= 170:
    print ("Kamu memiliki kesempatan menjadi pramugari")
    
#penggunakan elif agar apabila input yang dimasukkan juga lebih dari 180, maka print untuk tinggi >= 170 tidak akan tercetak
#sehingga output yang di dapat hanya print untuk tinggi >= 180

Tinggi anda adalah : 190
Kamu memiliki kesempatan menjadi model

In [30]:
#penggunaan if dan elif dalam convert usd -> rp atau rp -> usd

uang = float(input("Berapakah nominal uang anda? "))
rp_or_usd = input("Nominalnya dalam Rp atau USD? ")
if rp_or_usd.upper() == 'RP':
    uang = uang/15255
    print("Nominal uang anda adalah : " +str(uang) + ' USD')
elif rp_or_usd.upper() == 'USD':
    uang = uang*15255
    print(f"Nominal uang anda adalah {uang} rupiah")

Berapakah nominal uang anda? 15255
Nominalnya dalam Rp atau USD? rp
Nominal uang anda adalah : 1.0 USD