# 5.11 While Loop

In [1]:
a = 0
while a < 10:
    print ("Angka " + str(a) + " masih di bawah 10")
    #a bernilai 0, kemudian dieksekusi menjadi a = a + 1, sehingga a = 1, karena True 1 < 10, maka program akan terus melakukan pengulangan
    a+=1
    
#ketika while bernilai False, maka akan mencetak print yang tidak di dalam program while
print("Cukup")

#pengulangan akan terus dieksekusi apabila variabel boolean atau logical statement bernilai True
#pengulangan akan berhenti dieksekusi apabila variabel boolean atau logical statement bernilai false

Angka 0 masih di bawah 10
Angka 1 masih di bawah 10
Angka 2 masih di bawah 10
Angka 3 masih di bawah 10
Angka 4 masih di bawah 10
Angka 5 masih di bawah 10
Angka 6 masih di bawah 10
Angka 7 masih di bawah 10
Angka 8 masih di bawah 10
Angka 9 masih di bawah 10
Cukup

In [2]:
antrian = 0

while antrian < 5:
    antrian+=1
    print ("\nSelamat datang!")
    print(f"Anda berada di antrian nomor {antrian}")
    
#penggunaan format string untuk mencetak nomor antrian yang telah dieksekusi dalam while

Selamat datang!
Anda berada di antrian nomor 1

Selamat datang!
Anda berada di antrian nomor 2

Selamat datang!
Anda berada di antrian nomor 3

Selamat datang!
Anda berada di antrian nomor 4

Selamat datang!
Anda berada di antrian nomor 5

In [3]:
crush = input("Masukkan nama kekasih anda (ketik putus <tanpa kapital> untuk keluar): ")

#penggunaan while not untuk memberhentikan pengulangan
#akan tereksekusi bila menggunakan kata kunci yang telah diberikan dengan tepat
while not crush == "putus":
    print(f"You like {crush}")
    crush = input("Masukkan nama kekasih anda (ketik putus <tanpa kapital> untuk keluar) : ")
    
#jika menggunakan while not maka akan mencetak print yang tidak berada di loop while
print("Semangat!")

Masukkan nama kekasih anda (ketik putus <tanpa kapital> untuk keluar): Jungkook
You like Jungkook
Masukkan nama kekasih anda (ketik putus <tanpa kapital> untuk keluar) : Putus
You like Putus
Masukkan nama kekasih anda (ketik putus <tanpa kapital> untuk keluar) : putus
Semangat!

# 5.12 List

In [4]:
#urutan dimulai dari urutan ke-0

NIM = ['00 Kelas A','001 Jaya','002 Ariasih','003 Naftalia','004 Rika','005 Kleo']
print(NIM)

['00 Kelas A', '001 Jaya', '002 Ariasih', '003 Naftalia', '004 Rika', '005 Kleo']

In [5]:
#untuk angka bernilai positif maka akan mencetak dari list data paling depan
#untuk angka bernilai negatif maka akan mencetak dari list data paling belakang

#mencetak urutan pada urutan ke-1 dari list depan
print("Hasil output pertama : " + NIM[1])

#mencetak urutan pada urutan ke-2 dari belakang
print("Hasil output kedua : " + NIM[-2])

Hasil output pertama : 001 Jaya
Hasil output kedua : 004 Rika

In [6]:
#mengganti isi urutan yang dipilih (misal pada code ini adalah urutan ke-0) menjadi isi yang baru
NIM[0]='033 Adina'
print(NIM)

['033 Adina', '001 Jaya', '002 Ariasih', '003 Naftalia', '004 Rika', '005 Kleo']

In [7]:
print(" Hasil output pertama :")

#mencetak urutan dari urutan ke-3 sampai urutan ke-4
print(NIM[3:5])

print("\nHasil Output kedua :")
#mencetak urutan dari urutan ke-0 sampai urutan ke-6 dengan 2 loncatan
print(NIM[0:6:2])

 Hasil output pertama :
['003 Naftalia', '004 Rika']

Hasil Output kedua :
['033 Adina', '002 Ariasih', '004 Rika']

In [8]:
#tidak merubah list
#list yang dipakai merupakan list terbaru, dimana urutan ke-0 sudah menjadi 033 Adina
print(NIM)

['033 Adina', '001 Jaya', '002 Ariasih', '003 Naftalia', '004 Rika', '005 Kleo']

# 5.13 Metoda List

In [9]:
#penggunaan koma untuk menghitung banyaknya data yang masuk ke dalam list

#akan terbaca menjadi 2 objek data dalam list karena tidak menggunakan tanda baca koma
nama = ['Adina','Nur ' 'Halimah']
print(nama)

['Adina', 'Nur Halimah']

In [10]:
#menghitung banyaknya jumlah data yang masuk di dalam list
print(len(nama))

2

In [11]:
nama = ['Adina','Nur', 'Halimah']

#penggunaan append untuk menambah list data pada urutan terakhir
nama.append('Sanwani')
print(nama)

['Adina', 'Nur', 'Halimah', 'Sanwani']

In [12]:
#penggunaan insert 0 untuk menambahkan data pada urutan awal
#bila menggunakan insert 1, maka objek yang akan ditambahkan menjadi urutan 1

nama.insert(0,'Andi')
print(nama)

# ! ! ! hati-hati ketika run, jika ke run 2x maka data yang dimasukkan akan ke-double ! ! !

['Andi', 'Adina', 'Nur', 'Halimah', 'Sanwani']

In [13]:
#berfungsi untuk menghapus objek data yang berada di dalam list
nama.remove('Sanwani')
print(nama)

['Andi', 'Adina', 'Nur', 'Halimah']

In [14]:
#berfungsi untuk mengetahui apakah objek data terdapat dalam list data atau tidak

#akan bernilai True bila objek terdapat dalam list data
print("Hasil output pertama :")
print('Adina'in nama)

#akan bernilai false apabila objek tidak terdapat dalam list data
print("\nHasil output kedua :")
print('Sanwani' in nama)

Hasil output pertama :
True

Hasil output kedua :
False

In [15]:
print(len(nama))

4

# 5.14 For Loop

In [16]:
#untuk memanggil semua isi list
burung = ['jalak','gereja','lovebird','merpati','merak']

#menggunakan for --- in --- untuk mencetak isi list pada looping for
for jenis in burung :
    print (jenis)
#list yang dicetak akan berbentuk 1 data 1 baris

jalak
gereja
lovebird
merpati
merak

In [17]:
#perbedaan penggunaan while dengen for

i = 0
while i < 5:
    print(burung[i])
    i+=1
    
#while akan mengeksekusi bila bernilai True
#for akan mengeksekusi bila menggunakan for --- in --- ketika memanggil list

jalak
gereja
lovebird
merpati
merak

In [18]:
#jika kita punya data string

buah = 'Markisa'
for nama_buah in buah :
    print(nama_buah)
    
#output yang akan dihasilkan adalah looping perhuruf

M
a
r
k
i
s
a

In [19]:
#penggabungan penggunaan while dan for 

i = 0
while i < 5 :
    i+=1
    
    if i == 3:
        #akan mencetak "SPADAWWWWW!" ketika i = 3, sehingga angka 3 diganti oleh kata yang dimasukkan dalam if
        #lalu akan lanjut dengan pengeksekusian loop while lagi
        print("SPADAWWWWWWW!")
    print(i)

1
2
SPADAWWWWWWW!
3
4
5

# 5.15 Fungsi Range

In [20]:
#berfungsi untuk membangkitkan bilangan berurutan sesuai yang diinginkan

angka = range(11)
print (angka)

range(0, 11)

In [21]:
for isi in angka :
    print(isi)
    
#memanggil semua isi list dan looping per angka, sehingga 1 angka 1 baris
#memanggil dari urutan ke-0 sampai urutan ke-11 (sesuat sintaks pada python)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
print("output pertama")

#berfungsi untuk memanggil urutan ke-4 sampai urutan ke-6
for isi in range(4,7):
    print(isi)

print("\noutput kedua")

#berfungsi untuk memanggil urutan ke-0 sampai ke-10 lalu loncat 2
for isi in range (0,10,2):
    print(isi)

output pertama
4
5
6

output kedua
0
2
4
6
8

In [23]:
#mencari nilai minimum dan maksimum

print("Hasil 0utput program pertama :")
data = [1,2,3,4,5,6,8,5,4,3,2,1,-1]
terbesar = data[0]

#disini merupakan letak perulangan
#perulangan for untuk memeriksa setiap nilai apakah lebih besar dari nilai terbesar yang pernah dicatat sebelumnya
for i in range(len(data)): 
    if data[i] > terbesar :
        terbesar = data[i]
        #bila pengulangan tidak menemukan angka yang lebih besar dari data sebelumnya, maka angka dalam data tersebut = terbesar
print(terbesar)


#untuk mencari minimum menggunakan logika sebaliknya dari program sebelumnya
print("\nHasil output program kedua :")
terkecil = data [0]
for i in range(len(data)):
    if data[i] < terkecil :
        terkecil = data[i]
print(terkecil)

Hasil 0utput program pertama :
8

Hasil output program kedua :
-1